
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    justify-content: center;
}

header::before{
    content: '';
    position: absolute;
    /* background: #fff; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.headerBody{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.headerLogo{
    z-index: 13;
    text-decoration: none;
    line-height: 18px;
}

.headerLogo img{
    width: 120px;
}

.headerBurger{
    display: none;
}

.headerList{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 99999;
}

.headerList li{
    list-style: none;
    margin: 0 0 0 35px;
}

.headerLink{
    color: #333;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.5s ease 0s;
}

.headerLink:hover{
    color: #4386F1;
    transition: all 0.5s ease 0s;
}

.btnBecomeMentor{
    display: flex;
    z-index: 99999;
    color: #fff;
    background: #4386F1;
    border: 1px solid #4386F1;
    border-radius: 100px;
    font-weight: bold;
    padding: 15px 30px;
    font-size: 14px;
    transition: all .4s ease 0s;
}

.btnBecomeMentor:hover{
    transition: all .4s ease 0s;
    background: none;
    color: #4386F1;
}

/* Адаптация меню для мобильные устройства */

@media(max-width: 960px){

    body.lock{
        overflow: hidden;
    }

    .container{
        width: 95%;
    }

    .headerBody{
        height: 60px;
    }

    .headerBurger{
        display: block;
        position: relative;
        width: 34px;
        height: 22px;
        z-index: 13;
    }

    .headerBurger span{
        background: #333;
        position: absolute;
        left: 0;
        top: 9px;
        height: 4px;
        width: 100%;
        transition: all 0.5s ease 0s;
    }

    .headerBurger::before, 
    .headerBurger::after{
        content: '';
        background: #333;
        position: absolute;
        transition: all 0.5s ease 0s;
        height: 4px;
        width: 100%;
    }

    .headerBurger::before{
        top: 0;
        left: 0;
    }

    .headerBurger::after{
        bottom: 0;
        right: 0;
    }
    
    .headerBurger.active::before{
        width: 0px;
        left: 50%;
        transition: all 0.2s ease 0s;
    }

    .headerBurger.active::after{
        transition: all 0.2s ease 0s;
        right: 50%;
        width: 0px;
    }

    .headerBurger.active span:nth-child(1){
        transition: all 0.5s ease 0s;
        transform: rotate(45deg);
        background: #333;
    }

    .headerBurger.active span:nth-child(2){
        transition: all 0.5s ease 0s;
        background: #333;
        transform: rotate(-45deg);
    }

    .headerMenu{
        position: fixed;
        top: -200%;
        overflow-x: auto;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 1s ease 0s;
    }

    .headerMenu.active{
        transition: all 0.8s ease 0s;
        top: 0;
    }

    .headerList{
        display: block;
        padding: 0;
        margin: 0 auto;
        background: #fff;
        width: 100%;
        height: calc(100% - 70px);
        padding: 70px 0 0 0;
    }

    .headerList li{
        margin: 0 0 20px 2.5%;
    }


    .btnBecomeMentor{
        display: none;
    }
}
